{% extends 'base2.html' %}
{% load static %}

{% block titulo %}
    Categorias
{% endblock titulo %}

{% block contenido %}
    <h1 class="app-page-title">Lista de categorias</h1>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <th>ID</th>
                        <th>Nombre Categoria</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        {% for categoria in categorias %}
                        <tr>
                            <td>{{categoria.id}}</td>
                            <td>{{categoria.nombre}}</td>
                            <td>
                                <a href="{% url 'categoria:editar_categoria' categoria.id %}">Editar</a>
                                <button onclick="muestra_modal_categoria('{% url 'categoria:eliminar_categoria' categoria.id %}', '{{categoria.nombre}}')" type="button" class="btn btn-primary delete_example" data-toggle="modal" data-target="#exampleModal">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Videojuego</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="modal-cuerpo">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form id="formEliminar" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary save_changes">Aceptar</button>
                </form>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/funciones.js'%}"></script>
  
{% endblock js %}
