
<h1 class="app-page-title">Usuarios</h1>
<table class="table">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Nombre de Usuario</th>
        <th>Estado</th>
        <th>Municipio</th>
    </thead>
    <tbody>
        {% for usuario in object_list %}
        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.first_name}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.estado}}</td>
            <td>{{usuario.municipio}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
